html {
	* {
		margin: 0;
	}
	main {
		width: 21cm;
		height: 29.7cm;
		overflow: hidden;
		img {
			width: 32px;
			height: 32px;
			object-fit: contain;
			object-position: center;
		}
		.d-flex {
			display: flex;
		}
	}
}
